.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    height: 25vh;
    width: 25vh;
    border: solid .5rem black;
    border-radius: 2rem; 
    padding: 0 .5rem;               
}

.card-title {
    align-self: flex-start;
    margin: 1rem 0 0 1rem;    
    font-size: 1.8rem;        
}

.card-quote {
    font-size: 1.3rem;
    overflow: hidden;
}

.card-created {    
    align-self: flex-end;
    margin: auto 2rem 1rem 0;
    font-size: 1.25rem;
}

@media (min-width: 320px) {
    .card {        
        width: 100%;
        height: 30vh;        
    }
}


